@using Dapper
@using SDSFinder.Modules.Services
@using SDSFinder.EFModels
@using SDSFinder.EFContexts
@using MudBlazor
@using System.Data;
@using System.Data.SqlClient;


@page "/"
@page "/SearchByJobNumber"
@inject IJSRuntime JSRuntime
@inject ILogger<Index> Logger
@inject ISnackbar Snackbar
@inject ISiteService siteService
@inject IJobService jobService
@inject IItemService itemService
@inject IDocumentService documentService
@inject ILanguageService languageService

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="pa-0">
    <div class="search-section">
        <MudGrid>
            <MudItem xs="4">
                <div class="label-font-size">Site</div>
                <MudAutocomplete @bind-Value="@(site)"
                                 T="CmSiteMaster"
                                 Required="true"
                                 Margin="@Margin.Dense"
                                 Dense="true"
                                 Variant="Variant.Filled"
                                 SearchFunc="GetSites"
                                 ToStringFunc="@(e => e is null || string.IsNullOrEmpty(e.SiteCode) || string.IsNullOrEmpty(e.SiteName) ? null : $"{e.SiteCode} - {e.SiteName}")"
                                 MaxItems="100"
                                 Clearable="true"
                                 ErrorText="Please choose a site"
                                 AnchorOrigin="Origin.CenterCenter" />
            </MudItem>
            <MudItem xs="4">
                <div class="label-font-size">Job Number</div>
                <MudTextField T="string"
                              @ref="jobRef"
                              @bind-Value="jobNumber"
                              ReadOnly="@ReadOnly"
                              Text="@jobNumber"
                              MaxLength="10"
                              Margin="@Margin.Dense"
                              Dense="true"
                              TextChanged="(async(value) => { jobNumber = value; })"
                              OnBlur="@(async() => await JobNumberValidation(jobNumber, jobRef, site?.SiteCode, Snackbar))"
                              Variant="Variant.Filled" />
            </MudItem>
            <MudItem xs="4" Class="button">
                <MudButton Variant="Variant.Filled"
                           Size="Size.Medium"
                           Color="Color.Primary"
                           Disabled="@ReadOnly"
                           OnClick="@(async() => await GetTableResults(jobNumber, site?.SiteCode))">
                    <MudText>Search</MudText>
                </MudButton>
            </MudItem>
        </MudGrid>
    </div>
    <div>
        <SDSSearchResultTable TableResults="TableResults"></SDSSearchResultTable>
    </div>
</MudContainer>


@code {
    /// <summary>
    /// This is a function that gets called when the page is first rendered.
    /// This page can be cached and may not always run when changing pages, just the first time within the instance
    /// </summary>

    #region  Properties

    private string? jobNumber { get; set; }
    public bool ReadOnly = false;
    private MudTextField<string> jobRef;
    private List<SDSTableResult?> TableResults = new();
    private CmSiteMaster? site
    {
        get => _site;
        set
        {
            if (value is null)
            {
                _site = null;
                ReadOnly = true;
            }
            else
            {
                _site = value;
                ReadOnly = false;
            }
        }
    }
    private CmSiteMaster? _site = null;
    #endregion

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ReadOnly = true;

        }
        catch (Exception ex)
        {
            Snackbar.Add("An Error Occurred", Severity.Error);
            Logger.LogError(ex.ToString());
            await JSRuntime.InvokeVoidAsync("console.error", ex.ToString());
        }
    }

    private async Task<IEnumerable<CmSiteMaster>> GetSites(string? value, CancellationToken token)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            return await siteService.GetAll();
        }
        else
        {
            return await siteService.GetLimitedListBy(x => x.SiteCode.Contains(value) || x.SiteName.Contains(value), 100);
        }

    }

    private async Task JobNumberValidation(string jobNumber, MudTextField<string> jobRef, string? site, ISnackbar snackbar)
    {
        if (string.IsNullOrWhiteSpace(site))
        {
            snackbar.Add("Please choose a site", Severity.Info);
            await jobRef.Clear();
            return;
        }

        var fullJob = await jobService.ExpandJob(jobNumber);
        var validationResult = await jobService.ValidateJob(fullJob, site!);
        if (validationResult == false)
        {
            snackbar.Add($"No {site} jobs found for job number {fullJob}", Severity.Info);
            await jobRef.Clear();
        }
    }

    private async Task GetTableResults(string jobNumber, string? site)
    {
        TableResults = new();
        if (string.IsNullOrWhiteSpace(site))
        {
            Snackbar.Add("Please choose a site", Severity.Info);
            return;
        }
        var fullJob = await jobService.ExpandJob(jobNumber);
        if (string.IsNullOrWhiteSpace(fullJob))
        {
            Snackbar.Add("Please enter a Job Number", Severity.Info);
            return;
        }


        JobMst? job = await jobService.Get(fullJob, site!);
        ItemGlbl? item = await itemService.GetBy(x => x.Item == job.Item);
        if (item is null)
        {
            ClearJob();
            Snackbar.Add("No SDS Found for this Job Number at this Site", Severity.Info);
            return;
        }

        List<Document> documents = await GetDocuments(item);
        string? ghsLanguage = await GetGhsLanguageAsync(fullJob, site!);

        List<SDSTableResult> results = new();
        foreach (Document document in documents)
        {
            SDSTableResult? result = await BuildTableResultAsync(document, item, ghsLanguage);
            if (result != null)
            {
                results.Add(result);
            }
        }

        TableResults = results;

        if (TableResults.Count == 0)
        {
            ClearJob();
            Snackbar.Add("No SDS Found for this Job Number at this Site", Severity.Info);
        }
    }

    private async Task<List<Document>> GetDocuments(ItemGlbl item)
    {
        return await documentService.GetListBy(x => x.SafetyDocumentId != null && x.SafetyDocumentId.Equals(item.IndSds));
    }

    private async Task<string?> GetGhsLanguageAsync(string jobNumber, string site)
    {
        var ghsLanguages = await languageService.GetGHSLanguagesAsync(jobNumber, site);
        return languageService.GetGHSLanguage(ghsLanguages);
    }

    private async Task<SDSTableResult?> BuildTableResultAsync(Document document, ItemGlbl item, string? ghsLanguage)
    {
        string region = languageService.GetRegion(document.FileName);

        if (ghsLanguage != null)
        {
            string language = languageService.GetLanguage(document.FileName);
            string documentGhsLanguage = languageService.GetLanguageFromFormattedString(ghsLanguage);
            (string? SDSLang, string? SDSRegion) countryLanguage = await languageService.GetLanguageFromCountryLanguageTable(ghsLanguage);
            string sdsLanguage = languageService.GetLanguage(countryLanguage.SDSLang);

            if ((language == documentGhsLanguage || language == "English") && region.Equals(countryLanguage.SDSRegion))
            {
                return new SDSTableResult
                    {
                        ItemNumber = item.Item,
                        ItemDescription = item.Description,
                        PdfLocation = document?.FileLocation,
                        Language = sdsLanguage,
                        Region = countryLanguage.SDSRegion
                    };
            }

            return null;
        }

        string docLanguage = languageService.GetLanguage(document.FileName);
        return new SDSTableResult
            {
                ItemNumber = item.Item,
                ItemDescription = item.Description,
                PdfLocation = document?.FileLocation,
                Language = docLanguage,
                Region = region
            };
    }

    /// <summary>
    /// This is a function that gets called any time that MainLayout.razor re-renders.
    /// </summary>
    protected override void OnParametersSet()
    {
        try
        {
        }
        catch (Exception ex)
        {
            Snackbar.Add("An Error Occurred", Severity.Error);
            Logger.LogError(ex.ToString());
        }
    }

    private void ClearJob()
    {
        jobRef = new();
        jobNumber = string.Empty;
    }
}