@using SDSFinder.Components.EmployeePicker
@using SDSFinder.Modules.Services
@using SDSFinder.Modules.Repositories
@using SDSFinder.EFModels

@inject IConfiguration Configuration
@inject IEmployeeService _employeeService
@inject IAlertRecipientService _alertService
@inject ISnackbar Snackbar

@attribute [Authorize(Policy = AuthorizationPolicies.ADMIN_OPEN)]
@attribute [Authorize(Policy = AuthorizationPolicies.ADMIN_INTERCOMPANY)]

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="full-height pa-0">
    <MudCard Class="mb-6 elevation-3">
        <div class="search-section">
            <MudGrid Class="mb-4">
                <MudItem xs="4">
                    <div class="label-font-size">Alert Recipient</div>
                    <Picker @bind-Employee=@AssignedTo
                            Dense=false
                            SearchEmployees="SearchEmployees"
                            FullNameSelector="BuildEmployeeName"
                            EmailSelector="e => e?.Email"
                            ThumbnailSelector="e => e?.Thumbnail"
                            Variant="@Variant.Filled"
                            ReadOnly=false
                            Required=true
                            ErrorText="Please choose an assigned to" />
                </MudItem>
                <MudItem xs="4" Class="button">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               Size="Size.Medium"
                               HtmlTag="label"
                               OnClick="@(async() => await AddAlertRecipients())">
                        <MudText>Add Alert Recipient</MudText>
                    </MudButton>
                </MudItem>
            </MudGrid>
        </div>
    </MudCard>
    <MudGrid Spacing="0">
        <MudItem xs="12" md="4">
            <MudTable Items="@TableResults" FixedHeader="true" Bordered="true">
                <ColGroup>
                    <col style="width: 150px" />
                    <col style="width: 1%" />
                </ColGroup>
                <HeaderContent>
                    <MudTh>Alert Recipients</MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Name">@context.UserName</MudTd>
                    <MudTd Class="d-flex justify-center" Style="padding:10">
                        <MudButton Variant="Variant.Outlined"
                                   StartIcon="@Icons.Material.Filled.Delete"
                                   Size="Size.Small"
                                   OnClick="@(async() => await DeleteAlertRecipient(context))">
                            Delete
                        </MudButton>
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    public IReadOnlyList<AlertRecipient>? TableResults { get; set; } = null!;
    private int? SelectedUserId;
    private List<AlertRecipient> Users = new();
    private bool UserSelected = false;
    private bool IsBusy;
    private bool CanAdd => !IsBusy && SelectedUserId != null;
    private CmEmployeeMaster? AssignedTo
    {
        get => _assignedTo;
        set
        {
            if (value is not null)
            {
                _assignedTo = value;
                UserSelected = true;
            }
            else
            {
                _assignedTo = null!;
                UserSelected = false;
            }

        }
    }
    private CmEmployeeMaster? _assignedTo;

    protected override async Task OnInitializedAsync()
    {
        await LoadRecipients();
    }

    private string BuildEmployeeName(CmEmployeeMaster? employee)
    {
        if (string.IsNullOrWhiteSpace(employee?.FullName))
        {
            return $"{employee?.FirstName} {employee?.LastName}".Trim();
        }
        return employee.FullName;
    }

    private async Task<IEnumerable<CmEmployeeMaster>> SearchEmployees(string? searchValue)
    {
        if (searchValue is null) searchValue = string.Empty;
        string value = searchValue.ToUpper();
        var options = await _employeeService.GetLimitedListBy(
            (x => x.ActiveForDisplay == true
                && (
                    x.FullName.ToUpper().Contains(value)
                    || x.FirstName.ToUpper().Contains(value)
                    || x.LastName.ToUpper().Contains(value)
                    || (
                        !string.IsNullOrWhiteSpace(x.Email)
                        && x.Email.ToUpper().Contains(value)
                    )
                )
            ), 25
        );

        return options;
    }

    private async Task AddAlertRecipients()
    {
        IsBusy = true;

        try
        {
            var selected = _assignedTo;
            if (selected is null)
            {
                Snackbar.Add("Please select a user.", Severity.Warning);
                return;
            }

            await _alertService.AddAsync(selected.Id, selected.FullName);
            await LoadRecipients();
        }
        catch (Exception ex)
        {
            Snackbar.Add("Could not add the user. Please try again.", Severity.Error);
        }
        finally
        {
            IsBusy = false;
        }
    }

    private async Task LoadRecipients()
    {
        TableResults = await _alertService.GetAllAsync();
    }

    private async Task DeleteAlertRecipient(AlertRecipient recipient)
    {
        IsBusy = true;
        try
        {
            await _alertService.DeleteAsync(recipient.UserId);
            Snackbar.Add($"Removed {recipient.UserName} from alert recipients.", Severity.Success);
            await LoadRecipients();
        }
        finally
        {
            IsBusy = false;
        }
    }

}
